@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';

$nav-height: $navbar-brand-font-size * $line-height-base + $nav-link-padding-y * 2 +
  $navbar-brand-padding-y * 2;

html,
body,
div.map,
div#root,
div.App,
div.Map {
  width: 100%;
  height: 100%;
}
div.Map {
  &.index {
    padding-top: $nav-height;
  }
  &.embed {
    margin-top: 0;
  }
}
.leaflet-control-layers label {
  margin-bottom: 0;
}
